body
  background-color #ecf0f1
  height 100%

#test-list
  width 15%
  background-color #ecf0f1
  color #34495e
  padding-top 32px

  li
    padding 4px 16px

    a
      text-decoration none
      color inherit

#active-test
  width 85%
  background-color white

#test-list, #active-test
  display inline-block
  vertical-align top
  margin 0
  padding-left 0
  padding-right 0
